@font-face {
	font-family: "Leorio";
	src: url("/fonts/LeorioRegular.woff2") format("woff2"), url("/fonts/LeorioRegular.woff") format("woff"),
		url("/fonts/LeorioRegular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Westmeath";
	src: url("/fonts/Westmeath.woff2") format("woff2"), url("/fonts/Westmeath.woff") format("woff"),
		url("/fonts/Westmeath.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
